<div class="container mt-5">
  <div class="row">
    <h3>Lista de ingredientes</h3>
    <button class="btn btn-primary ml-auto" (click)="mostrar()" *ngIf="lista.length>0">Mostrar listado disponible</button>
  </div>

  <table class="table mt-2" *ngIf="verContenido">
    <thead>
      <th>Nro</th>
      <th>Nombre</th>
      <th>Estado</th>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of lista; let i = index"
      >
        <td>{{i+1}}</td>
        <td>{{estudiante.Nombre}}</td>
        <td>{{estudiante.Estado}}</td>
      </tr>
    </tbody>
</table>
<h4 *ngIf="lista.length==0" class="text-center">No hay nada por mostrar</h4>
</div>
